pycocotools
click
easydict
gdown
lap
matplotlib
onnxruntime-gpu
opencv-python
Pillow
PyYAML
scipy
streamlit
tensorboard
--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchaudio
torchvision
tqdm
zipp
